/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url(../../images/layout/FloraCAheader2.jpg);
    --header-bg-color: #18244d8a;
    --header-font-color: #fff;
    --brand-font-size: 2rem;
    --logo-width: 120px;
    --menu-top-bg-color: #18244d8a;
    --menu-font-size: 1rem;
    --body-bg-color: #fafafa;
    --body-text-color: #000000;
    --body-font-size: 1rem;
    --body-font-family: "Roboto", sans-serif;
    --footer-bg-color: #f2f0e9;
    --heading-font-family: "Open Sans", sans-serif;
    --link-color: #6164a6;
    --darkest-color: #031341;
    --medium-color: #5a5a53;
    --light-color: #f2f0e9;
    --bright-color: #a9b82d;
    --danger-color: #b31b1b;
    --max-innertext-width: 1024px;
}
